:root {
    --body-bg: var(--code-bg);
    --body-bg-image-opacity: 0.5;

    --hero-img-max-size: 328px;

    --hero-from: darkslategray;
    --hero-to: #060606;

    --hero-accent: #060606;
}

.dark {
    --body-bg: var(--theme);
    --body-bg-image-opacity: 0.25;

    --hero-from: #060606;
    --hero-to: darkslategray;

    --hero-accent: #f9f9f9;
}

html {
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;

    background-attachment: fixed;
    background-image: repeating-linear-gradient(
        315deg,
        rgb(from var(--border) r g b / var(--body-bg-image-opacity)) 0px,
        rgb(from var(--border) r g b / var(--body-bg-image-opacity)) 1px,
        var(--body-bg) 0px,
        var(--body-bg) 50%
    ) !important;
    background-size: 10px 10px !important;
}

header {
    border-bottom: dashed 1px var(--border);
    background: var(--body-bg);
}

main {
    background: var(--body-bg);
}

@media screen and (min-width: 768px) {
    main {
        border-inline: dashed 1px var(--border);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 1.2px;
    line-height: inherit;
    text-transform: uppercase;
    font-weight: 400;

    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--hero-accent);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.35em;
    color: var(--hero-accent);
}

a {
    font-family: 'IBM Plex Mono', monospace;
}

hr {
    height: 1px !important;
}

strong {
    font-weight: 600;
}

.hero-link {
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: none !important;

    color: var(--theme);
    line-height: 36px;
    background: var(--primary);
    border-radius: 4px;
    padding: 4px 12px;
}

.hero-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
}

.logo a {
    letter-spacing: 3px;
    font-weight: 500;
}

.hero-img {
    width: 100%;
    height: 100%;

    max-width: var(--hero-img-max-size);
    max-height: var(--hero-img-max-size);

    margin: auto !important;
    border-radius: 50% !important;

    background: linear-gradient(
        10deg,
        var(--hero-from) 33.3%,
        var(--hero-to) 100%
    );

    border: solid 1px var(--border);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-weight: 400;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    padding: 0 0.5rem;
    border: none;
    color: var(--primary);
    background: transparent;
}

.social-icons svg {
    transition: transform 0.15s ease;
    stroke-width: 1.2;
}

.social-icons a:hover svg {
    transform: translateY(2px);
}

.social-icons-title {
    position: relative;
    font-size: 0.75rem;
    padding-top: 0.25rem;
}

.social-icons a:hover .social-icons-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.35em;
}
