.social-icons {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
    font-weight: 500;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    padding: 0 0.5rem;
}

.social-icons svg {
    stroke-width: 1.5;
    transition: transform 0.3s ease;
}

.social-icons a:hover svg {
    transform: translateY(2px);
}

.social-icons-title {
    position: relative;
    font-size: 0.75rem;
    padding-top: 0.25rem;
}

.social-icons-title:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -2px;
    height: 50%;
    width: 100%;
    z-index: -1;
    background: var(--entry);
}

.social-icons-title:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -2px;
    height: 50%;
    width: 0;
    transition: all 0.3s ease;
    z-index: -1;
    background: var(--link-hover-bg);
    opacity: 0.8;
}

.social-icons a:hover .social-icons-title:after {
    width: 100%;
}
