.social-icons {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
}

.social-icons svg {
    stroke-width: 1;
}

.social-icon-caption {
    font-size: 0.75rem;
    padding-top: 0.25rem;
    font-weight: 500;
}
