.social-icons {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
    font-weight: 500;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    padding: 0 0.5rem;
}

.social-icons a:hover {
    filter: brightness(3);
}

.social-icons svg {
    stroke-width: 1;
}

.social-icons-title {
    font-size: 0.75rem;
    padding-top: 0.25rem;
}

.social-icons a:hover .social-icons-title {
    box-shadow: 0 1px;
}
