{{- $size := $.Get "size" -}}
{{- with .Page.Resources.Get (.Get "src") }}
    {{ with .Resize (printf "%dx%d webp" $size $size) }}
        <img
            class="hero-img"
            fetchpriority="high"
            src="{{ .RelPermalink }}"
            width="{{ $size }}"
            height="{{ $size }}"
            alt="{{ $.Get "alt" }}" />
    {{ end }}
{{ end }}


<div class="social-icons">
    {{- range site.Params.socialIcons }}
        <a
            href="{{ trim .url ' ' | safeURL }}"
            target="_blank"
            rel="noopener noreferrer me"
            title="{{ (.title | default .name) | title }}">
            {{ partial "svg.html" . }}


            <div class="social-icons-title">
                {{ (.title | default .name) | title }}
            </div>
        </a>
    {{- end }}
</div>
